---
---

@import "minimal-light";

/* Custom: left links vertical */
.text-links{
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  text-align: left;
}

.text-links a{
  text-decoration: none;
  font-weight: 500;
}

.text-links a:hover{
  text-decoration: underline;
}
